<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="120 seconds">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <property name="LOG_FILE" value="logs/eureka-server"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="FILE_LOG_PATTERN"
              value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} -line %L : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>


    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %-5level %logger{1} -line %L - %msg [%t]%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %-5level %logger{1} -line %L - %msg [%t]%n</pattern>
        </encoder>
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!--<maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%d{HH:mm:ss.SSS} + %highlight(%-5level) %cyan(%logger{1.}) -line %L - %msg - [%t]%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %-5level %logger{1} -line %L - %msg [%t]%n</pattern>
        </encoder>
    </appender>



    <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR" additivity="false"/>
    <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR" additivity="false"/>
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN" additivity="false"/>
    <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN" additivity="false"/>
    <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN" additivity="false"/>
    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR" additivity="false"/>
    <logger name="org.hibernate.validator.internal.util.Version" level="WARN" additivity="false"/>

    <logger name="cn.futuremove.tsp.tbox.service.KafkaService" level="INFO" additivity="false" />

    <root level="${logLevel:-INFO}">
        <appender-ref ref="CONSOLE" />
<!--        <appender-ref ref="ROLLING_FILE" />-->
    </root>
</configuration>