<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="120 seconds">

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <!-- <pattern>${FILE_LOG_PATTERN}</pattern> -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %-5level %logger{15} -line %L - %msg [%t]%n</pattern>
        </encoder>
        <file>logs/edge-server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/edge-server.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!--<maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} + %highlight(%-5level) %cyan(%logger{15}) -line %L - %msg - [%t]%n</pattern>
        </encoder>
    </appender>


    <logger name="cn.springcloud.book" level="DEBUG" additivity="false" >
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

    <root level="${logLevel:-WARN}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>